*{
    box-sizing: border-box;
}
body{
    min-width: 500px;
}

#board{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto;
    text-align: center;
    margin:0px auto;
    height:380px;
    width:380px;
    border: 3px black solid;
    font-size:xx-large;
    font-weight: 1000;
}
.piece{
    margin: 0px auto;
}
.square{
    /* transition:6s linear infinite; */
    box-sizing:content-box;
    margin:1px;
    padding:3px;
    min-height:38px;
    min-width:38px;
    box-shadow:black 2px 2px 3px inset;
}

.square:hover{
    border:2px solid black;
    font-size:35px;
    /* cursor:none; */
    padding:0px;
    margin:0px;
    box-shadow:black 2px 2px 3px;
}
.squareBlack{
    background-color: rgb(249, 148, 6);
    /* background-color:black; */
}
.squareWhite{
    background-color:rgb(191, 232, 203);
    /* background-color: white; */
}
.selected{
    background-color:rgb(109, 109, 214,0.8);
    box-shadow: black 5px 5px 10px;
    border:2px black groove;
    margin:0px;
    padding:0px;
}
.blackPiece{
    color:black;
    /* -webkit-text-stroke: 0.4px rgb(255, 255, 255); */
}
.whitePiece{
    color:rgb(104, 202, 158);
    /* color:rgb(255, 255, 255); */
    text-shadow: rgb(0, 0, 0) 2px 2px 3px;
    /* -webkit-text-stroke: 0.8px rgb(0, 0, 0); */
}
.blackPiece{
    /* text-shadow: rgb(155, 134, 246) 2px 2px 1px; */
    text-shadow:white 1px 1px 2px;
    /* text-shadow: rgb(57, 57, 60) 2px 2px 2px; */
}
.whitePiece{
    /* color:rgb(104, 202, 158); */
    /* text-shadow: rgb(0, 0, 0) 2px 2px 3px; */
    -webkit-text-stroke: 0.8px rgb(0, 0, 0);
}